
.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.title-left {
    text-align: left;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 0px 20px
}